.header {
    height: 100vh;
    min-height: 600px;
    max-height: 756px;
    /* parameters for the header section */
    display: flex;
    position: relative;
    padding:0 0 0 64px ;
    background-color: #f2f2f2;
    overflow: hidden;
}
