.kaufman{
    position: relative;
    width: 100%;
    height: auto;
    display: flex ;
    flex-direction: column;
    justify-content: space-around;
    background-color: #1f1f1f;
    overflow: hidden;
    padding: 90px 0;
}
